<p>monster-tracker-ex-page works!</p>
<div class="monster-tracker-ex-page-menue">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addMonster()">Add Monster</button>
</div>
<div class="boundary-container overflow-scroll  bg-gray-400">
@for (movableMonsterItem of movableMonsterItems; track movableMonsterItem.id) {
  <div
    class="draggable-box"
    [class.is-on-top]="movableMonsterItem.showTop"
    cdkDrag
    [cdkDragFreeDragPosition]="{x: 0, y: 0}"
    (cdkDragEnded)="onDragEnded($event, movableMonsterItem)"
    [style.left.px]="movableMonsterItem.x"
    [style.top.px]="movableMonsterItem.y"
    (click)="showItemOnTop(movableMonsterItem)"
>

    <!-- Inhalt der Komponente -->
    <div class="handle" cdkDragHandle>::: Griff zum Anfassen :::
      <!-- Button zum Minimieren/Maximieren -->
      <button (click)="movableMonsterItem.toggleMinimise(); $event.stopPropagation()">
        {{ movableMonsterItem.isMinimised ? '🗖 Maximieren' : '🗕 Minimieren' }}
      </button>
    </div>

    @if(movableMonsterItem.isMinimised) {
      <div class="minimized-content">
        <p>Inhalt minimiert</p>
      </div>
    } @else {
      <div class="content">
        <h4>{{ movableMonsterItem.title }}</h4>
        <p>Position: X: {{ movableMonsterItem.x }}, Y: {{ movableMonsterItem.y }}</p>
        <app-monster-card
          [monsterInfo]="movableMonsterItem.monsterInfo"
        ></app-monster-card>
      </div>
    }

  </div>
}


</div>

