<div class="flex flex-col gap-2">
  <div class="grid grid-cols-5 gap-3">
    @for (slot of slots(); let i = $index; track i) {
      <div
        cdkDropList
        [id]="'staging-' + i"
        [cdkDropListConnectedTo]="allConnectedIds()"
        (cdkDropListDropped)="onSlotDrop($event, i)"
        class="w-[120px] h-[168px] rounded-xl border-2 border-dashed border-gray-600/50 flex items-center justify-center transition-colors"
        [class.border-yellow-500]="isOccupied(slot)"
        [class.border-dashed]="!isOccupied(slot)"
      >
        @if (isOccupied(slot)) {
          <div cdkDrag [cdkDragData]="{ card: slot, slotIndex: i }" (dblclick)="onCardDblClick(slot)">
            <app-playing-card [card]="slot" [faceUp]="true" [backImagePath]="backImagePath()"></app-playing-card>
            <ng-template cdkDragPreview [matchSize]="false">
              <app-playing-card [card]="slot" [faceUp]="true" [backImagePath]="backImagePath()"></app-playing-card>
            </ng-template>
            <ng-template cdkDragPlaceholder>
              <div class="w-[120px] h-[168px] rounded-xl border-2 border-dashed border-yellow-600/30"></div>
            </ng-template>
          </div>
        }
      </div>
    }
  </div>
  <p class="text-center text-gray-500 text-xs">Sammelablage für Spielkarten</p>
</div>
